<p><%= flash[:msg] %></p>

<h1>새 작품 업로드</h1>

<%= form_tag("/works", multipart: true) do %>
    제목 : <%= text_field_tag(:title) %><br>
    설명 : <%= text_field_tag(:desc) %><br>
    이미지url : <%= file_field_tag(:image) %><br>
    메이커_id : 
    <select name="maker_id">
        <% @makers.each do |maker| %>
            <option value="<%= maker.id %>"><%= maker.name %></option>
        <% end %>
    </select><br>
    <%= submit_tag("작품 올리기") %>
<% end %>