<h1>수정하기</h1>

<%= form_tag("/makers/#{@maker.id}", method: "put") do %>
    이름 : <%= text_field_tag(:name, @maker.name) %><br>
    연락처 : <%= text_field_tag(:phone_number, @maker.phone_number) %><br>
    이메일 : <%= text_field_tag(:email, @maker.email) %><br>
    <%= submit_tag("제출") %>
<% end %>